@use '../utils/variables' as *;
@use '../utils/placeholders' as *;
.header-menu {
	@extend %flex-center;
	gap: 5px;

	&__link {
		display: inline-block;
		padding: 11px 15px;
		border-radius: 26px;
		&--border {
			border: 2px solid $main-color;
		}
	}
}
