@use '../utils/variables' as *;
@use '../utils/placeholders' as *;
.partners {
	padding-top: 67px;
	padding-bottom: 56px;
	@media (min-width: 768px) {
		padding-top: 71px;
		padding-bottom: 39px;
	}

	&__title {
		font-size: 22px;
		color: $titles-color;
		text-align: center;
		padding-bottom: 14px;
		@media (min-width: 768px) {
			padding-bottom: 31px;
		}
	}

	&__list {
		padding-bottom: 27px;
		@media (min-width: 768px) {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 51px;
		}
		@media (min-width: 1440px) {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
		}
	}

	&__item {
		@media (min-width: 768px) {
			flex-basis: calc((100% - 53px) / 2);
		}
	}
}
