@use '../utils/variables' as *;
.container {
	margin: 0 auto;
	padding: 0 8px;
	min-width: 320px;
	max-width: $breakpoint-large;
}

@media (min-width: $breakpoint-small) {
	.container {
		width: 570px;
	}
}

@media (min-width: $breakpoint-mid) {
	.container {
		width: 920px;
	}
}
