@use '../utils/variables' as *;

body {
	font-family: $main-font;

	main {
		flex: 1 0 auto;
	}

	.container {
		margin: 0 auto;
		padding: 0 8px;
		min-width: 320px;
		max-width: $breakpoint-large;
	}
}

label {
	display: block;
	height: 30px;
	position: relative;
	top: 15px;

	span,
	span::before,
	span::after {
		content: '';
		position: absolute;
		right: 0;
		display: block;
		width: 25px;
		height: 2px;
		background: $text-color;
		transition: 0.3s;
	}

	span::before {
		top: -8px;
	}
	span::after {
		top: 8px;
	}
}
